/* FONTS */

/* VARIABLES */

/* BASICS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* TAGS */

/* COMPONENTS */

.app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app > * {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.app > *:nth-child(2) {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tab-navigation {
  display: flex;
  justify-content: space-between;
}

/* Header */

.action-button-group {
  display: flex;
}

.dropdown-group {
  position: relative;
}

.button-list {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;

  display: flex;
  flex-direction: column;
}

/* Collections */

.collection-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.preview-container {
  aspect-ratio: 1;
}

.item-preview {
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
}

/* CollectionOverview */

.collection-overview .preview-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* REGISTER */

/* BASIC CLASSES */