/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* VARIABLES */

:root {
  --p-xxs: 4px;
  --p-xs: 8px;
  --p-sm: 12px;
  --p-md: 16px;
  --p-lg: 24px;
  --p-xl: 48px;
  --p-xxl: 64px;
}

/* BASICS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* TAGS */

input {
  width: 100%;
}

/* COMPONENTS */

/* App */

.app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app > * {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--p-sm);
}

.app > *:nth-child(2) {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  padding: var(--p-xxs);
}

.tab-navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  padding: var(--p-sm) 0;
}

/* Header */

.action-button-group {
  display: flex;
  gap: var(--p-sm);
}

.dropdown-group {
  position: relative;
}

.button-list {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;

  display: flex;
  flex-direction: column;
}

/* Collections */

.collection-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.preview-container {
  aspect-ratio: 1;
}

.item-preview {
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
}

/* CollectionOverview */

.collection-overview .preview-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* ItemSingle */

.image {
  width: 100%;
  aspect-ratio: 1.16;

  background-position: center;
  background-size: cover;
}

/* ItemEdit */

.image-thumbnail {
  width: 80px;
  aspect-ratio: 1;

  background-position: center;
  background-size: cover;
}

/* Search */

.search {
  display: flex;
  width: 100%;

  padding: var(--p-xxs);
}

input[type=search] {
  padding: var(--p-xxs) var(--p-xs);
}

/* BASIC CLASSES */

.button {
  height: 32px;
  display: flex;
  padding: var(--p-xxs);
  margin: calc(-1 * var(--p-xxs)); /* compensating padding */
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.button.add {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-square' viewBox='0 0 16 16'%3E%3Cpath d='M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}

.button.edit {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil-square' viewBox='0 0 16 16'%3E%3Cpath d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z'/%3E%3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z'/%3E%3C/svg%3E")
}

.button.multi {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-three-dots' viewBox='0 0 16 16'%3E%3Cpath d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z'/%3E%3C/svg%3E");
}

.button-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--p-md);
}

/* MESSAGING */

.chat-preview {
  display: flex;
  gap: 10px;
  background: rgb(224, 224, 224);
  justify-content: space-between;
}

.chat-input-container{
  display: flex;
  flex-direction: row;
}

.chat-action-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.foreign-user {
text-align: left;
}

.user {
text-align: right;
}