/* FONTS */

/* VARIABLES */

/* BASICS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* TAGS */

/* COMPONENTS */

.app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app > * {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.app > *:nth-child(2) {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tab-navigation {
  display: flex;
  justify-content: space-between;
}

/* REGISTER */



/* BASIC CLASSES */